<h3>{{title}}</h3>

 <form #formPublicidad="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-publicidad">

	<label>Titulo</label>
    
	<input type="text" #titulo="ngModel" name="titulo" [(ngModel)]="model.titulo" class="form-control"/>
    <br/>
    <label>Noticia</label>
    <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="model.body" class="form-control"></textarea>
    
    <br/>
    <label>Pie de la noticia</label>
    <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="model.imagen" class="form-control"></textarea>
    
    <br/>
	<input type="submit" class="btn btn-success"/>
</form>  